<div class="modal-header">
  <h4 class="modal-title">You Want To Delete The Following Car?</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>ID: {{car.id}}</p>
  <p>Brand: {{car.brand}}</p>
  <p>Model: {{car.model}}</p>
  <p>Registration Number: {{car.registrationNumber}}</p>
  <p>Fuel Type: {{car.fuelType}}</p>
  <p>Transmission: {{car.transmission}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click'); deleteCar()">Yes</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">No</button>
</div>